@model DatVeXemPhim.Models.NhanVien
@{
    ViewData["Title"] = "Chi tiết";
}


<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Nhân Viên</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    Mã Nhân Viên
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.id)
                </dd>
                <dt class="col-sm-3">
                    Họ Tên 
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.hoTen)
                </dd>
                <dt class="col-sm-3">
                    Địa Chỉ
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.diaChi)
                </dd>
                <dt class="col-sm-3">
                    Số Điện Thoại
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.soDienThoai)
                </dd>
                <dt class="col-sm-3">
                    Email
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt class="col-sm-3">
                    Ngày Sinh
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ngaySinh)
                </dd>
                <dt class="col-sm-3">
                    Giới Tính
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.gioiTinh)
                </dd>
                <dt class="col-sm-3">
                    Tài Khoản 
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.taiKhoan)
                </dd>
                <dt class="col-sm-3">
                    Mật Khẩu
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.matKhau)
                </dd>
            </dl>
        </div>
    </div>
    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Chỉnh sửa</a>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>
