@model IEnumerable<DatVeXemPhim.Models.Phim>
@{
    ViewData["Title"] = "Trang chủ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />
</head>
<body>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/vvd6l0K.jpeg">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/ZAsFRGV.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/NdkeTHe.jpeg">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/HFatZYJ.jpeg">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/8oj3EkB.jpeg">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/7Ct45cq.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://i.imgur.com/o62EDEu.png">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <h1>TOP 5 BỘ PHIM HOT NHẤT</h1>
            <div class="movie-list">
                <div class="col-lg-8">
                    @foreach (var movie in Model.OrderBy(m => Guid.NewGuid()).Take(5))
                    {
                        <div class="movie-item" style="">
                            <img src="@movie.posterPhim" alt="@movie.tenPhim">
                            <div class="movie-details">
                                <div class="movie-title">@movie.tenPhim</div>
                                <div class="movie-description">Đạo diễn: @movie.daoDien</div>
                                <div class="movie-description">Diễn viên: @movie.dienVien</div><br>
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.id"><button class="btn btn-warning">Xem chi tiết</button></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 1000,
                centeredSlides: true,
                autoplay: {
                    delay: 2000,
                    disableOnInteraction: false,
                },
                loop:true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                
            });
        });
    </script>
</body>
</html>
