@model IEnumerable<DatVeXemPhim.Models.Phim>
@{
    ViewData["Title"] = "Trang chủ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />
</head>
<body>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var movie in Model.OrderBy(m => Guid.NewGuid()).Take(5))
                            {
                                <div class="swiper-slide">
                                    <img style="" src="@movie.posterPhim" alt="@movie.tenPhim">
                                </div>
                            
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <h1>TOP 5 BỘ PHIM HOT NHẤT</h1>
            <div class="movie-list">
                <div class="col-lg-8">
                    @foreach (var movie in Model.OrderBy(m => Guid.NewGuid()).Take(5))
                    {
                        <div class="movie-item">
                            <img src="@movie.posterPhim" alt="@movie.tenPhim">
                            <div class="movie-details">
                                <div class="movie-title">@movie.tenPhim</div>
                                <div class="movie-description">@movie.daoDien</div>
                                <a asp-controller="Phims" asp-action="Details" asp-route-id="@movie.id"><button class="btn btn-warning">Xem chi tiết</button></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        });
    </script>
</body>
</html>
