@model IEnumerable<DatVeXemPhim.Models.Phim>
@{
    ViewData["Title"] = "Trang chủ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link href="~/css/style.css" rel="stylesheet" />
 
</head>
<body>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img src="https://iguov8nhvyobj.vcdn.cloud/media/catalog/product/cache/1/thumbnail/190x260/2e2b8cd282892c71872b9e67d2cb5039/r/s/rsz_1200x1800_2.jpg" alt="Movie 1">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://iguov8nhvyobj.vcdn.cloud/media/catalog/product/cache/1/thumbnail/190x260/2e2b8cd282892c71872b9e67d2cb5039/p/o/poster_payoff_godzilla_va_kong_3_1_.jpg" alt="Movie 2">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://iguov8nhvyobj.vcdn.cloud/media/catalog/product/cache/1/thumbnail/190x260/2e2b8cd282892c71872b9e67d2cb5039/7/0/700x1000_exhuma-min.jpg" alt="Movie 3">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <h1>TOP 5 BỘ PHIM HOT NHẤT</h1>
            <div class="movie-list">
                <div class="col-lg-8">
                    @foreach (var movie in Model.OrderBy(m => Guid.NewGuid()).Take(5))
                    {
                        <div class="movie-item">
                            <img src="@movie.posterPhim" alt="@movie.tenPhim">
                            <div class="movie-details">
                                <div class="movie-title">@movie.tenPhim</div>
                                <div class="movie-description">@movie.daoDien</div>
                                <div><a asp-controller="Phims" asp-action="Details" asp-route-id="@movie.id"><button style="margin-top: 20px" class="btn btn-warning">Xem chi tiết</button></a></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
