@model IEnumerable<DatVeXemPhim.Models.Phim>

<h1 class="mb-4">Kết quả tìm kiếm từ khóa "@ViewBag.SearchString"</h1>

<div class="movie-list">
    <div class="col-lg-8">
        @foreach (var movie in Model)
        {
            <div class="movie-item" style="">
                <img src="@movie.posterPhim" alt="@movie.tenPhim">
                <div class="movie-details">
                    <div class="movie-title">@movie.tenPhim</div>
                    <div class="movie-description">Đạo diễn: @movie.daoDien</div>
                    <div class="movie-description">Diễn viên: @movie.dienVien</div><br>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.id"><button class="btn btn-warning">Xem chi tiết</button></a>
                </div>
            </div>
        }
    </div>
</div>
