@model IEnumerable<DatVeXemPhim.Models.Ve>

@{
    ViewData["Title"] = "Index";
}

<h1>Indexhehe</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maXuatChieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maGhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayBanVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maXuatChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maGhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayBanVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
