@model phanTrang<DatVeXemPhim.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lí khách hàng</h1>

<p>
    <a asp-action="Create">Thêm khách hàng</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm khách hàng (tên/tài khoản): <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
            <a asp-action="Index">Xem toàn bộ danh sách khách hàng</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Họ Tên</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Số điện thoại</a>
            </th>
            <th>
                email
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tài khoản</a>
            </th>
            <th>
                Mật Khẩu
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matKhau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.soTrang - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
   Trước
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.soTrang + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
   Sau
</a>
