@model IEnumerable<DatVeXemPhim.Models.Ve>

@{
    ViewData["Title"] = "Lịch sử đơn hàng";
}

<div class="container mt-4">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Chi tiết vé đã đặt</h4>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mã xuất chiếu</th>
                        <th scope="col">Tên phim</th>
                        <th scope="col">Tên ghế</th>
                        <th scope="col">Giờ bắt đầu</th>
                        <th scope="col">Giờ kết thúc</th>
                        <th scope="col">Ngày bán vé</th>
                        <th scope="col">Tổng tiền (đv: nghìn đồng)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.maXuatChieu)</td>
                            <td>@Html.DisplayFor(modelItem => item.fk_XuatChieu.fk_Phim.tenPhim)</td>
                            <td>@Html.DisplayFor(modelItem => item.fk_MaGhe.tenGhe)</td>
                            <td>@Html.DisplayFor(modelItem => item.fk_XuatChieu.gioBatDau)</td>
                            <td>@Html.DisplayFor(modelItem => item.fk_XuatChieu.gioKetThuc)</td>
                            <td>@Html.DisplayFor(modelItem => item.ngayBanVe)</td>
                            <td>@Html.DisplayFor(modelItem => item.tongTien)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>
