@model DatVeXemPhim.Models.XuatChieu

@{
    ViewData["Title"] = "Chi tiết";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Xuất chiếu</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Phòng chiếu:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.fk_PhongChieu.id)</dd>
                <dt class="col-sm-2">Phim:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.fk_Phim.id)</dd>
                <dt class="col-sm-2">Ngày chiếu:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.ngayChieu)</dd>
                <dt class="col-sm-2">Giờ bắt đầu:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.gioBatDau)</dd>
                <dt class="col-sm-2">Giờ kết thúc:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.gioKetThuc)</dd>
            </dl>
        </div>
    </div>
    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>
