@model DatVeXemPhim.Models.Phim 

<h1>Nội dung phim</h1>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <img style="height: 350px" src="@Model.posterPhim" class="img-fluid" alt="@Model.tenPhim">
        </div>
        <div class="col-md-8">
            <h1>@Model.tenPhim</h1>
            <p>Đạo diễn: @Model.daoDien</p>
            <p>Diễn viên: @Model.dienVien</p>
            <p>Thể loại: @Html.DisplayFor(model => model.fk_TheLoaiPhim.tenLoaiPhim)</p>
            <p>Khởi chiếu: @Model.thoiGianKhoiChieu.ToString("dd/MM/yyyy")</p>
            <p>Thời lượng: @Model.thoiLuong.ToString()</p
            <div class="d-flex justify-content-between mt-4">
                <a style="padding: 10px" class="btn btn-primary">Mua vé</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </div>
    </div>
</div>