@model DatVeXemPhim.Models.Phim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenPhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenPhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.daoDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.daoDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dienVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dienVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.theLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.theLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thoiGianKhoiChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thoiGianKhoiChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thoiLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thoiLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngonNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngonNgu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.iD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
