@model IEnumerable<DatVeXemPhim.Models.Phim>

@{
    ViewData["Title"] = "Quản Lý Phim";
    Layout = "_Layout_Admin";
}

<h1>Danh Sách</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.posterPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daoDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dienVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maLoaiPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoiGianKhoiChieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoiLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngonNgu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.posterPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daoDien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dienVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maLoaiPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGianKhoiChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngonNgu)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Chỉnh Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Chi Tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
