@model IEnumerable<DatVeXemPhim.Models.Phim>
@{
    ViewData["Title"] = "Phim Sắp Chiếu";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/phim.css" rel="stylesheet" />
</head>
<body>
    <h1 style="margin-top: 20px">Phim Đang Chiếu</h1>
    <div class="movie-list">
        <div class="col-lg-8">
            @foreach (var movie in Model)
            {
                <div class="movie-item">
                    <img src="@movie.posterPhim" alt="@movie.tenPhim">
                    <div class="movie-details">
                        <div class="movie-title">@movie.tenPhim</div>
                        <div class="movie-description">@movie.daoDien</div>
                        <div><a asp-controller="Phims" asp-action="Details" asp-route-id="@movie.id"><button style="margin-top: 20px" class="btn btn-warning">Xem chi tiết</button></a></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Add any JavaScript code here if needed
        });
    </script>
</body>
</html>
