@model DatVeXemPhim.Models.Ghe

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Ghế</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.maPhong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenGhe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Sửa</a> |
    <a asp-action="Index">Trở Lại</a>
</div>
