@model DatVeXemPhim.Models.Ve

@{
    ViewData["Title"] = "Đặt vé";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="container">
    <h4>Chọn thông tin vé</h4>
    <form asp-action="DatVe" method="post">
        <div class="form-group">
            <label>ID Khách Hàng</label>
            <input type="text" class="form-control" value="@ViewBag.KhachHangID" readonly />
            <input type="hidden" asp-for="maKhachHang" value="@ViewBag.KhachHangID" />
        </div>
        <div class="form-group">
            <label asp-for="fk_XuatChieu.maPhim" class="control-label">Chọn Phim</label>
            <select asp-for="fk_XuatChieu.maPhim" class="form-control" asp-items="ViewBag.Phims" id="phimDropdown"></select>
        </div>
        <div class="form-group">
            <label asp-for="maXuatChieu" class="control-label">Chọn xuất chiếu</label>
            <select asp-for="maXuatChieu" class="form-control" id="xuatChieuDropdown"></select>
        </div>
        <div class="form-group">
            <label asp-for="maGhe" class="control-label">Chọn Ghế</label>
            <select asp-for="maGhe" class="form-control" id="gheDropdown"></select>
        </div>
        <div class="form-group">
            <label for="maNhanVien">Chọn nhân viên đặt vé</label>
            <select id="maNhanVien" name="maNhanVien" class="form-control" asp-items="ViewBag.NhanViens"></select>
        </div>
        <div class="form-group">
            <label asp-for="tongTien" class="control-label">Tổng tiền</label>
            <input asp-for="tongTien" class="form-control" value="45" readonly />
        </div>
        <div class="form-group">
            <input type="submit" value="Đặt vé" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#phimDropdown').change(function () {
                var phimId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetXuatChieuByPhim")',
                    type: 'GET',
                    data: { phimId: phimId },
                    success: function (data) {
                        var xuatChieuDropdown = $('#xuatChieuDropdown');
                        xuatChieuDropdown.empty();
                        xuatChieuDropdown.append($('<option>', { value: '', text: 'Chọn xuất chiếu' }));
                        $.each(data, function (i, xuatChieu) {
                            xuatChieuDropdown.append($('<option>', {
                                value: xuatChieu.id,
                                text: xuatChieu.ngayChieu
                            }));
                        });
                    }
                });
            });

            $('#xuatChieuDropdown').change(function () {
                var xuatChieuId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetAvailableGhesByXuatChieu")',
                    type: 'GET',
                    data: { xuatChieuId: xuatChieuId },
                    success: function (data) {
                        var gheDropdown = $('#gheDropdown');
                        gheDropdown.empty();
                        gheDropdown.append($('<option>', { value: '', text: 'Chọn ghế' }));
                        $.each(data, function (i, ghe) {
                            gheDropdown.append($('<option>', {
                                value: ghe.id,
                                text: ghe.tenGhe
                            }));
                        });
                    }
                });
            });
        });
    </script>
}
