@model DatVeXemPhim.Models.Ve

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ve</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fk_XuatChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fk_XuatChieu.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fk_KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fk_KhachHang.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fk_NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fk_NhanVien.matKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fk_MaGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fk_MaGhe.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayBanVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayBanVe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongTien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
